#woo-category-gallery {
  max-width: 1000px;
  margin: 200px auto;
}
#theImageContainer #theImage {
  height: 500px;
  width: 100%;
  background: pink;
}

#theGalleryContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

#theGalleryContainer > * {
  flex: 1 100%;
}
@media screen and (min-width: 1025px) {
  #theGalleryContainer > * {
    flex: 1;
    min-height: 200px;
  }
}